.app {
    padding: 30px;
    background-color: floralwhite;
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
  .box
  {
    display:flex;
    justify-content: baseline;
    margin-bottom: 20px;
  }
  .box button
  {
    margin-left:10px;
  }

  /* galler project css */
  .btn-box
  {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .btn-box Button
  {
    margin: 15px;
  }
  .img-container
  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    /* margin:auto; */
  }
  .image-card
  {
    padding:5px;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  .image
  {
    width: 100%;
    height:250px;
  }

  /* counter CSS */
  .counter
  {
    width:400px;
    height:auto;
    padding:50px;
    border:5px solid green;
    margin:50px auto;
  }
  .counter button
  {
    margin-left: 10px;
  }

  /* image Pass Using Props */
  .propsImage
  {
    width:400px;
    height:auto;
    margin:50px auto;
    border:5px solid blue;
    text-align: center;
    padding:50px;
  }
  

  /* Counter form */
  .CounterForm
  {
    width:400px;
    height:400px;
    margin:50px auto;
  }
  